*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*ส่วนหัว*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e1f4f7;
    flex-wrap: wrap;
}

.header img {
    border: none;
    outline: none;
    justify-items: start;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-center input[type="text"] {
    width: 300%;
    max-width: 43.75rem;
    padding: 0.9375rem 1.875rem;
    border-radius: 1.875rem;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 1rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.picturelogo {
    cursor: pointer;
}

.store-name {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding-left: 2rem;
    text-align: left;
    margin-right:10px;
}

.header-left img {
    height: 3.75rem;
    max-height: 4.375rem;
    object-fit: contain;
}
.startnav-right{
    margin-left:10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.nav-right a {
    position: relative;
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    transition: color 0.3s ease;
}

.nav-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0096c7;
    transition: width 0.3s ease;
}

.nav-right a:hover::after {
    width: 100%;
}

.nav-right a:hover {
    color: #0096c7;
}

.cart-icon {
    width: 1.875rem;
    height: 1.875rem;
}

.header-bottom {
    background-color: #c9ced0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.category-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 6.25rem;
    padding: 0 1rem;
    width: 100%;
}

.category-nav a {
    color: #000;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.category-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0096c7;
    transition: width 0.3s ease;
}

.category-nav a:hover::after {
    width: 100%;
}

.category-nav a:hover {
    color: #0096c7;
    text-decoration: underline;
}
.main-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.product-container {
    gap: 60px;
    margin:40px auto;
    display:flex;
    max-width: 1400px;
    width:90%;
}

.pro-img {
    gap:15px;
    flex-direction: column;
    display:flex;
    flex:0 0 auto;
}

.thumbnail {
    font-size:12px;
    color:#666;
    width:100px;
    height:100px;
    border :2px solid #ddd;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:border 0.2s;
    cursor: pointer;
}

.thumbnail:hover,.thumbnail.active {
    border-color:#0096c7; 
}

.top-img-contain{
    justify-content:center;
    align-items: center;
    display: flex;
    flex:1;
}

.main-image {
    max-width:100%;
    max-height:500px;
    object-fit:contain;

}


.product-title {
    font-weight:bold;
    margin-bottom:15px;
    font-size:24px;

}

.product-info{
    flex:1;
    max-width:600px;
}


.product-price {
    font-size:28px;
    font-weight:bold;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    gap:10px;
}

.new-badge {
    background-color: #ff4444;
    color:white;
    font-size:14px;
    font-weight:bold;
    padding:4px 12px;
    border-radius:4px;
}

.filter-title {
    font-weight:bold;
    padding:8px 0px;
    border-bottom:1px solid #000;
    border-bottom:none;
}

.filter-group {
    margin-bottom:25px;

}

.filter-product{
    margin-top:30px;
}

.filter-options{
        display: flex;
            gap: 10px;
            flex-wrap: wrap;
}

.filter-label {
    display:block;
    margin-bottom:8px;
    font-weight:600;
    font-size:14px;

}

.filter-option {
    padding:8px 16px;
    border:2px solid #000;
    transition:all 0.3s;
    background:white;  
    cursor:pointer;
    font-weight:600px;
}

.filter-option:hover{
    background:#f0f0f0;
}

.filter-option.active {
    background:#000;
    color:white;
}

.quantity-section {
    margin:25px 0;

}

.quantity-label {
    margin-bottom:8px;
    font-size:14px;
    font-weight:600;

}

.quantity-controls {
    display:flex;
    gap:10px;
    align-items:center;

}

.quantity-btn {
    width:30px;
    height:30px;
    border:1px solid #000;
    font-size:18px;
    cursor:pointer;
    background:white;
    display:flex;
    align-items:center;
    justify-content: center;
}


.add-to-cart-btn {
    gap:10px;
    display:flex;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    align-items:center;
    background:white;
    border:2px solid #000;
    justify-content: center;
    transition:all 0.1s;
    width:70%;
    padding-top:15px;
    padding-bottom:15px;
}

.add-to-cart-btn:hover {
    background:#000;
    color:white;

}

.quantity-input {
    width:50px;
    height:30px;
    font-weight:600;
    text-align:center;
    border:1px solid #000;

}

.product-detail{
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;

}


.detail-header {
    font-weight:bold;
    border-bottom:2px solid #ddd;
    font-size:18px;
    padding-bottom:10px;
    margin-bottom:15px;
}


.detail-content {
    display:flex;
    gap:20px;
    align-items:flex-start;
}

.detail-logo {
    height:80px;
    width:80px;
}

.detail-text {
    flex:1;
    max-height:60px;
overflow:hidden;
transition: height-extent 0.3 ease;

}

.detail-text.expanded  {
    max-height:none;

}

.showmore {
    color:#0096c7;
    cursor:pointer;
    text-decoration:underline;
    display:block;
    margin-top:10px;
}

.contain-all-logo{
    width:90%;
    max-width:1400;
    margin: 60px auto;
}


.shop-by-brand {
    width: 90%;
    max-width: 1400px;
    margin: 60px auto;}

.brand-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.brand-logos {
display: flex;
    justify-content: space-around;
    align-items: center;
flex-wrap: wrap;
    gap: 40px;
    margin-top:20px;
}

.brand-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: transform 0.3s;
        }






























 .footer {
            width: 100%;
            background: #fff;
            color: #222;
            font-family: system-ui, sans-serif;
            border-top: 1px solid #ccc;
            padding-top: 15px;
            margin-top: 40px;
        }

        .footer a {
            text-decoration: none;
            color: #444;
            transition: 0.3s;
        }

        .footer a:hover {
            color: #0077cc;
        }

        .footer-container {
            width: 90%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .footer-top {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 15px 0;
            flex-wrap: wrap;
            gap: 80px;
        }

        .contact-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;
            flex: 0 0 auto;
        }

        .contact-info .bold {
            font-weight: bold;
            font-size: 20px;
        }

        .contact-info .email {
            font-weight: bold;
        }

        .telephone {
            font-weight: bold;
        }

        .contact-info span {
            white-space: nowrap;
            font-size: 0.9rem;
        }

        .country {
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: bold;
            flex: 0 0 auto;
        }

        .country img {
            width: 20px;
        }

        .plsfollow {
            display: block;
        }

        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            flex: 0 0 auto;
        }

        .social p {
            margin: 0;
            font-weight: bold;
            font-size: 0.9rem;
        }

        .social .icons {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .social a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #000;
            color: #fff;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            transition: 0.3s;
        }

        .social a:hover {
            background: #0077cc2f;
        }
        .seperate-footer {
            border-top:1px solid #ccc;
        }

        .footer-container hr {
            border: none;
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }

        .footer-middle {
            display: flex;
            justify-content: flex-start;
            padding: 30px 0;
            flex-wrap: wrap;
            gap: 100px;
        }

        .footer-col {
            flex: 0 0 auto;
            min-width: 150px;
        }

        .footer-col h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .footer-col a {
            display: block;
            color: #333;
            font-size: 0.9rem;
            margin-bottom: 8px;
        }

        .footer-bottom {
            text-align: center;
            background: #f5f5f5;
            padding: 12px 0;
            font-size: 0.9rem;
            color: #555;
            border-top: 1px solid #ddd;
            width: 100%;
        }

        @media (max-width: 768px) {
            .product-card {
                flex: 0 0 220px;
            }

            .scroll-btn {
                width: 40px;
                height: 40px;
            }

            .scroll-btn i {
                font-size: 16px;
            }
        }